services:
  backend:
    build:
      context: ./backend
    container_name: car_parking_backend
    expose:
      - "8000"
    volumes:
      - ./backend/app/db:/backend/app/db
      - ./backend/app/subscription_files:/backend/app/subscription_files
      - ./backend/app/vehicle_uploads:/backend/app/vehicle_uploads
      - ./backend/app/cancelled_subscription_files:/backend/app/cancelled_subscription_files
      - ./backend/app/uploads:/backend/app/uploads
      - ./backend/app/templates:/backend/app/templates
    environment:
      - PYTHONUNBUFFERED=1
      - DATABASE_URL=sqlite:///app/db/car_parking_app.db  # Changed: 3 slashes, relative path
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: car_parking_frontend
    expose:
      - "3000"
    env_file:
      - ./frontend/.env.production
    depends_on:
      - backend
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    restart: always

  db_backup:
    image: alpine:latest
    container_name: db_backup
    volumes:
      - ./backend/app/db:/db
      - ./backups:/backups
    command: >
      sh -c "while true; do 
               cp /db/car_parking_app.db /backups/car_parking_app_$(date +%F_%H%M%S).db;
               sleep 86400;
             done"
    restart: always
