version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: car_parking_backend
    expose:
      - "8000"
    volumes:
      - ./backend/app/db:/app/db
      - ./backend/app/subscription_files:/app/subscription_files
      - ./backend/app/vehicle_uploads:/app/vehicle_uploads
      - ./backend/app/cancelled_subscription_files:/app/cancelled_subscription_files
      - ./backend/app/uploads:/app/uploads
      - ./backend/app/templates:/app/templates
    environment:
      - PYTHONUNBUFFERED=1
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: car_parking_frontend
    expose:
      - "3000"
    env_file:
      - ./frontend/.env.production
    depends_on:
      - backend
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    restart: always
